Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/
*.sln
*.opensdf
*.sdf
*.VC.db
Content/CAA_SnowV4/
Content/MWLandscapeAutoMaterial/
Content/Pack_Bonus/
Content/Megaplant_Library/
Content/StarterContent/
